{% load static %}
<footer class="footer-distributed">

    <div class="footer-left">

      <h3><img src="{% static 'images/Variacion 1.png' %}" class="logo-footer"></h3>

      <!-- <p class="footer-links">
        <a href="#" class="link-1">Home</a>
        
        <a href="#">Blog</a>
      
        <a href="#">Pricing</a>
      
        <a href="#">About</a>
        
        <a href="#">Faq</a>
        
        <a href="#">Contact</a>
      </p> -->

      <p class="footer-company-name">Parb Studio © 2023</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Lima, Peru</span></p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+51 924 873 476</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:contacto.parbstudio@gmail.com">contacto.parbstudio@gmail.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Nosotros: </span>
        Desarrollamos proyectos creados con un balance entre lo funcional y lo estético, 
        pensando siempre en las necesidades del cliente, 
        con ambientes únicos que reflejen su escencia
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/parb.studio/"><i class="fa fa-instagram"></i></a>
        <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
        <a href="https://www.tiktok.com/@parb.studio"><i class="bi bi-tiktok"></i></a>

      </div>

    </div>

  </footer>